host aruba {
  hardware ethernet 18:64:72:c0:62:80;
  fixed-address {{or (getv "/STATIC/ARUBA") "192.168.0.100" }};
}

host osmc {
  hardware ethernet 80:1f:02:f4:36:bc;
  fixed-address {{or (getv "/STATIC/OSMC") "192.168.0.101"}};
}
