#!/bin/sh

# iptables Internet-connection sharing 
# firewall script

# Define your command variables
ipt="/sbin/iptables"

# Define multiple network interfaces
wan="{{ or ( getenv "wan" ) "eth0" }}"
lan="{{ or ( getenv "lan" ) "eth1" }}"

iptables-restore < /etc/iptables/iptables.rules
echo "iptables restored:"
iptables -L
iptables -t nat -L

while [ -u ${QUIT+x} ]
do
        echo "sleeping 10 seconds"
        sleep 10
        echo "checking exit criteria"
done

